# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native credentials
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision


# Google services (Android/iOS)
**/google-services.json
**/GoogleService-Info.plist

# Functions secrets
functions/.env
functions/.runtimeconfig.json

# Expo EAS
eas.json
**/build/
**/dist/

# Metro
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store
*.pem
*.crash

# Local env files
.env
.env*.local
*.env
*.env.*

# IDE
.vscode/
.idea/

# TypeScript
*.tsbuildinfo
